*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px; }

.menu {
  width: 200px;
  background-color: #17181b;
  height: 100vh;
  position: fixed; }
  @media screen and (max-width: 576px) {
    .menu {
      display: none; } }
  .menu .myFace {
    width: 100%; }
    .menu .myFace img {
      width: 100%; }
  .menu .vertical-menu {
    width: 200px;
    /* Set a width if you like */ }
    .menu .vertical-menu .nav-item {
      background-color: #17181b;
      color: black;
      /* Black text color */
      display: block;
      /* Make the links appear below each other */
      padding: 12px;
      /* Add some padding */
      text-decoration: none;
      /* Remove underline from links */
      color: #777;
      text-align: center; }
      .menu .vertical-menu .nav-item.active {
        color: white; }

.curtain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5; }

.coverCurtain {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: black;
  opacity: 0;
  z-index: 10000; }

hr.style-seven {
  overflow: visible;
  /* For IE */
  height: 30px;
  border-style: solid;
  border-color: #777;
  border-width: 1px 0 0 0;
  border-radius: 20px; }
  hr.style-seven::before {
    /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #777;
    border-width: 0 0 1px 0;
    border-radius: 20px; }

.progress-title {
  margin-bottom: 30px; }

.progress {
  height: 10px;
  background-color: #404144;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 20px;
  overflow: visible; }

.progress .progress-bar {
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
  background-color: #26abed;
  width: 0;
  transition: all 2s ease-out;
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -ms-transition: all 2s ease-out;
  -o-transition: all 2s ease-out; }

.progress .progress-bar:after {
  content: "";
  display: block;
  border: 15px solid transparent;
  border-bottom: 21px solid transparent;
  position: absolute;
  top: -26px;
  right: -12px;
  border-bottom-color: #26abed; }

.progress .progress-value {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: -30px;
  right: 0; }

.skill-item {
  margin-bottom: 30px; }

.main {
  position: absolute;
  width: auto;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: #2c2d2f; }
  @media screen and (max-width: 576px) {
    .main {
      left: 0; } }
  @media screen and (min-width: 577px) {
    .main {
      left: 200px; } }
  .main .active {
    opacity: 1; }

.home {
  width: auto;
  height: 100vh;
  background-image: url("../img/home_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0;
  z-index: 10;
  overflow: hidden;
  transition: 0.5s all ease-in-out; }
  .home .home-content {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .home .home-content h1 {
      font-size: 4rem; }
      .home .home-content h1 span {
        color: #26abed;
        font-size: 4rem; }

.about {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s all ease-in-out;
  opacity: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  width: 100%;
  height: 100vh;
  overflow-y: auto; }
  .about .title {
    margin-top: 50px;
    margin-left: 10px; }
    .about .title h1 {
      font-weight: bolder;
      color: #26abed; }
      @media screen and (max-width: 992px) {
        .about .title h1 {
          text-align: center; } }
    @media screen and (max-width: 992px) {
      .about .title {
        margin-left: 0; } }
  .about .about-content-personal {
    margin-top: 20px;
    margin-left: 10px; }
    @media screen and (max-width: 992px) {
      .about .about-content-personal {
        display: block; } }
    @media screen and (min-width: 992px) {
      .about .about-content-personal {
        display: flex; } }
    .about .about-content-personal .introduce {
      color: #777; }
      .about .about-content-personal .introduce h3 {
        font-weight: bolder;
        color: #26abed; }
      @media screen and (max-width: 992px) {
        .about .about-content-personal .introduce {
          text-align: center; } }
      @media screen and (min-width: 992px) {
        .about .about-content-personal .introduce {
          width: 40%; } }
    .about .about-content-personal .personal-info {
      color: #26abed; }
      @media screen and (min-width: 992px) {
        .about .about-content-personal .personal-info {
          width: 40%; } }
      .about .about-content-personal .personal-info h3 {
        font-weight: bolder; }
        @media screen and (max-width: 992px) {
          .about .about-content-personal .personal-info h3 {
            text-align: center; } }
      .about .about-content-personal .personal-info .info-field {
        color: #777;
        margin-bottom: 5px; }
        .about .about-content-personal .personal-info .info-field .fieldName {
          color: white; }
        @media screen and (max-width: 992px) {
          .about .about-content-personal .personal-info .info-field {
            text-align: center; } }
  .about .whatIdo {
    margin-top: 20px;
    color: #26abed; }
    .about .whatIdo h3 {
      font-weight: bolder;
      text-align: center; }
    .about .whatIdo .whatIdo-content .whatIdo-item {
      text-align: center; }
      .about .whatIdo .whatIdo-content .whatIdo-item .symbol {
        font-size: 2rem; }
      .about .whatIdo .whatIdo-content .whatIdo-item .item-name {
        font-size: 1.25rem;
        color: white; }
  .about .about-content {
    width: 90%;
    max-width: 1040px;
    margin: 0 auto; }

.resume {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s all ease-in-out;
  opacity: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  color: white; }
  .resume .title {
    margin-top: 50px;
    color: #26abed; }
  .resume .resume-content {
    width: 90%;
    max-width: 1040px;
    margin: 0 auto; }
    .resume .resume-content > div .title {
      color: white;
      text-align: center;
      padding-bottom: 15px; }
      .resume .resume-content > div .title span {
        font-size: 1.4rem;
        padding: 0 5px;
        border-bottom: 2px #26abed solid;
        position: relative; }
        .resume .resume-content > div .title span::before {
          content: "";
          height: 4px;
          width: 2px;
          bottom: 0;
          left: 0;
          background-color: #26abed;
          position: absolute; }
        .resume .resume-content > div .title span::after {
          content: "";
          height: 4px;
          width: 2px;
          bottom: 0;
          right: 0;
          background-color: #26abed;
          position: absolute; }
    .resume .resume-content > div .timeline {
      padding: 0 0 0 60px;
      margin-top: 20px;
      margin-bottom: 20px; }
    .resume .resume-content > div .time-item {
      position: relative;
      padding: 20px 0;
      margin-bottom: 60px; }
      .resume .resume-content > div .time-item .line-left {
        position: absolute;
        width: 2px;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #26abed; }
        .resume .resume-content > div .time-item .line-left::before {
          content: "";
          width: 10px;
          height: 10px;
          border: 2px #26abed solid;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          position: absolute;
          top: -10px;
          left: -4px; }
        .resume .resume-content > div .time-item .line-left::after {
          content: "";
          width: 10px;
          height: 10px;
          border: 2px #26abed solid;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          position: absolute;
          bottom: -10px;
          left: -4px; }
      .resume .resume-content > div .time-item .content {
        margin-left: 30px; }
        .resume .resume-content > div .time-item .content h4 {
          margin-bottom: 0;
          font-weight: bolder; }
        .resume .resume-content > div .time-item .content h5 {
          color: #26abed; }
        .resume .resume-content > div .time-item .content ul {
          margin: 0; }
          .resume .resume-content > div .time-item .content ul li {
            list-style-type: none;
            color: #777; }
      .resume .resume-content > div .time-item .year .to {
        position: absolute;
        top: -10px;
        left: -5px;
        transform: translate(-105%, -50%);
        -webkit-transform: translate(-105%, -50%);
        -moz-transform: translate(-105%, -50%);
        -ms-transform: translate(-105%, -50%);
        -o-transform: translate(-105%, -50%); }
      .resume .resume-content > div .time-item .year .from {
        position: absolute;
        bottom: -10px;
        left: -5px;
        transform: translate(-105%, 50%);
        -webkit-transform: translate(-105%, 50%);
        -moz-transform: translate(-105%, 50%);
        -ms-transform: translate(-105%, 50%);
        -o-transform: translate(-105%, 50%); }
      @media screen and (max-width: 768px) {
        .resume .resume-content > div .time-item .year .to {
          transform: translate(15px, -50%);
          -webkit-transform: translate(15px, -50%);
          -moz-transform: translate(15px, -50%);
          -ms-transform: translate(15px, -50%);
          -o-transform: translate(15px, -50%); }
        .resume .resume-content > div .time-item .year .from {
          transform: translate(15px, 50%);
          -webkit-transform: translate(15px, 50%);
          -moz-transform: translate(15px, 50%);
          -ms-transform: translate(15px, 50%);
          -o-transform: translate(15px, 50%); } }

.portfolio {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s all ease-in-out;
  opacity: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  color: white; }
  .portfolio .portfolio-content {
    width: 90%;
    max-width: 1040px;
    margin: 0 auto; }
    .portfolio .portfolio-content .title {
      color: #26abed;
      margin-top: 50px; }

.contact {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s all ease-in-out;
  opacity: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  color: white; }
  .contact .contact-content {
    width: 90%;
    max-width: 1040px;
    margin: 0 auto;
    margin: 50px auto; }
    .contact .contact-content .title {
      color: #26abed; }
    .contact .contact-content .subtitle {
      color: white;
      text-align: center;
      padding-bottom: 15px; }
      .contact .contact-content .subtitle span {
        font-size: 1.4rem;
        padding: 0 5px;
        border-bottom: 2px #26abed solid;
        position: relative; }
        .contact .contact-content .subtitle span::before {
          content: "";
          height: 4px;
          width: 2px;
          bottom: 0;
          left: 0;
          background-color: #26abed;
          position: absolute; }
        .contact .contact-content .subtitle span::after {
          content: "";
          height: 4px;
          width: 2px;
          bottom: 0;
          right: 0;
          background-color: #26abed;
          position: absolute; }

/*# sourceMappingURL=style.css.map */
