.menu{
    width: 200px;
    background-color: $menu-color;
    height: 100vh;
    position: fixed;
    @media screen and (max-width: $small-screen) {
        display: none
    }
    .myFace{
        width: 100%;
        img{
            width: 100%;
        }
    }
    .vertical-menu {
        width: 200px; /* Set a width if you like */
        .nav-item {
            background-color: $menu-color;
            color: black; /* Black text color */
            display: block; /* Make the links appear below each other */
            padding: 12px; /* Add some padding */
            text-decoration: none; /* Remove underline from links */
            color: $inactive-color;
            text-align: center;
            &:hover {
            }
            &.active {
                color:$active-color
            }
        }
        
    }
    
}
