.main{
    position: absolute;
    width: auto;
    right: 0;
    top:0;
    height: 100vh;
    @media screen and (max-width: $small-screen) {
        left: 0;
    }
    @media screen and (min-width: $small-screen+1) {
        left: 200px;
    }
    
    background-color: $primary-color;
    .active{
        opacity: 1;
    }
}