

//colors
$menu-color:#17181b;
$primary-color:#2c2d2f;
$secondary-color:#26abed;
$inactive-color:#777;
$active-color:white;


//font size

$name-title-size: 4rem;

//screen-width
$small-screen: 576px;
$medium-screen: 768px;
$large-screen: 992px;
$extra-screen: 1200px;